#main-container-index {
    min-height: 90vh;
    margin-top: 2em;
    font-family: 'Inter', sans-serif;
}

.text-inner-paragraph  h1 {
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: justify;
}

.text-inner-paragraph:nth-child(2n) {
    padding-top: 20px;
}

.header-description {
    font-family: 'Montserrat', sans-serif;
}

.formulario {
    margin-top: 10px
}

@media only screen and (min-width: 801px){
    .formulario {
 
    }

    .form-group-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*
    .pass-form {
        /* margin-top: 20px; */
    }
    */

    .logo{

    }
    
    .cabecalho{
        background-color: #d9d9d9;
        border-bottom: solid 1px #bfbfbf;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 12px;
        flex-wrap: wrap;
    }
    
    .corpo{
        margin-top: 30px;
    }
    
    .body{
        background-color: #f8f8f8 !important;
        padding-bottom:  100% !important;
    }
    
    .row.form-group{
        height: 120px;
    }
    
    .input-lg, .form-group-lg .form-control {
        height: 30px;
        padding: 5px 10px;
        font-size: 15px;
        line-height: 1.33;
        border-radius: 6px;
    }
    .mb-lg{
        width: 300px;
    }

    @media screen and (max-width: 460px) {
        .carrosel {
            height: 55vh;
            padding-left: 0;
        }
    }

    .carrosel{
        padding-left: 30px;
    }

    .index-logo > .item > img {
        max-height: 400px;
        width: auto;
    }
    
    .informacao{
        padding-right: 70px;
    }
    
    h1{
        text-align: center;
    }
    
    p{
        text-align: justify;
        align-content: center;
    }
    
    h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .lar{
        font-size: 20px;
    }
    
    .wegia{
    }
    
    .entrar{
        margin-bottom: 15px;
        width: 100%;
    }
    
    .descricao div {
        display: flex;
        flex-direction: column;

    }

    .main-menu-logo, .login-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entrar {
        width: 100%;
        margin-top: 10px;
    }
    
}

@media only screen and (max-width: 800px){
    .cabecalho {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0 !important;
    }

    .text {
        text-align: center;
        margin: 5%;
    }

    .footer {
        background-color: black;
        display: flex;
        justify-content: space-between;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
        margin: 0 auto;
    }

    .entrar{
        margin-left: -10px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 711px) {
    .cabecalho {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 8px;
    }

    .cabecalho > .main-menu-logo,
    .cabecalho > .descricao,
    .cabecalho > .formulario,
    .cabecalho > .pass-form,
    .cabecalho > .col-md-1 {
        width: 100%;
        float: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 8px;
        padding-right: 8px;
    }

    .cabecalho > .descricao > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cabecalho .form-group-login {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cabecalho .mb-lg {
        width: min(320px, calc(100vw - 48px));
        max-width: 100%;
    }

    .cabecalho .entrar {
        margin-left: 0;
        margin-top: 8px;
        width: min(320px, calc(100vw - 48px));
        max-width: 100%;
    }

    .cabecalho .entrar.hidden-xs {
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 712px) and (max-width: 1100px) {
    .cabecalho {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        justify-content: center;
        align-items: center;
        column-gap: 6px;
        row-gap: 12px;
        text-align: center;
        margin-top: 0 !important;
        padding: 14px 16px;
    }

    .cabecalho > .main-menu-logo,
    .cabecalho > .descricao {
        grid-column: 1 / -1;
        width: 100%;
        float: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }

    .cabecalho > .descricao > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .cabecalho > .formulario,
    .cabecalho > .pass-form,
    .cabecalho > .col-md-1 {
        width: auto;
        float: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        min-width: 0;
        padding-left: 0;
        padding-right: 0;
        justify-self: center;
    }

    .cabecalho .form-group-login {
        width: 100%;
        margin-bottom: 0;
    }

    .cabecalho .mb-lg {
        width: clamp(240px, 31vw, 300px);
        max-width: 100%;
        margin-bottom: 0;
    }

    .cabecalho .entrar.hidden-xs {
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: clamp(110px, 13vw, 128px);
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1270px) {
    .cabecalho {
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: nowrap;
        padding-left: 18px;
        padding-right: 18px;
    }

    .cabecalho > .formulario,
    .cabecalho > .pass-form,
    .cabecalho > .col-md-1 {
        width: auto;
        float: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 4px;
        padding-right: 4px;
        margin-top: 0;
    }

    .cabecalho .form-group-login {
        margin-bottom: 0;
    }

    .cabecalho .mb-lg {
        width: 240px;
        max-width: 240px;
        margin-bottom: 0;
    }

    .cabecalho .entrar.hidden-xs {
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
        width: 112px;
        margin: 0;
    }
}
