img{
	max-height: 100%;
	max-width: 100%;
}
.imagem{
	width: 50px;
}

.divDocumento{
	display: none;
}
.icones
{
	font-size:22px;
}
.link{
	color: inherit;
}

.filiacao-acoes {
	text-align: center;
	vertical-align: middle !important;
	white-space: nowrap;
}

.filiacao-acoes .btn {
	margin: 0 2px;
}